@model ASPCoreFirstApp.Models.ProductModel
@{
    var s = Model.Name;

    var firstWord = s.IndexOf(" ") > -1 ? s.Substring(0, s.IndexOf(" ")) : s;
}
<div class="card" style="width : 18rem; margin: 5px;">
            

            @* *@
            <img src="https://loremflickr.com/160/120/@firstWord?lock=@Model.Id" class="card-img-toop">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>    

                <p class="card-text"> @Html.DisplayFor(modelItem => Model.Price)</p>
                <a href="/products/ShowOneProduct/@Model.Id" class="btn btn-primary">Show Details</a>
                <a href="/products/ShowEditForm/@Model.Id" class="btn btn-warning">Edit</a>
                <!-- Delete Challenge-->
                <a href="/products/Delete/@Model.Id" class="btn btn-danger">Delete</a>
              
                <!-- Button trigger modal -->
                <button value="@Model.Id" type="button" class="btn btn-primary edit-product-button" data-bs-toggle="modal" data-bs-target="#editForm">
                    Modal Edit
                </button>

            </div>
</div>



@*<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
*@