@model IEnumerable<ASPCoreFirstApp.Models.ProductModel>






<div class="container d-flex flex-wrap">
    @foreach (var item in Model)
    {
        <div class="card" style="width : 18rem; margin: 5px;">
            @{
                // get jus the first word of the item.Name for searching purposes
                var s = item.Name;
                // ternary operator
                var firstWord = s.IndexOf(" ") > -1 ? s.Substring(0, s.IndexOf(" ")) : s;
            }

            @* *@
            <img src="https://loremflickr.com/160/120/@firstWord?lock=@item.Id" class="card-img-toop">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>    

                <p class="card-text"> @Html.DisplayFor(modelItem => item.Price)</p>
                <a href="/products/ShowOneProduct/@item.Id" class="btn btn-primary">Show Details</a>
                <a href="/products/ShowEditForm/@item.Id" class="btn btn-warning">Edit</a>
                <a class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { id=item.Id  })</a>
            </div>
        </div>

    }
</div>

